
body {
  background-color: #1e342a;
  text-align: center;
}

h1 {
  color: #e5dcc8;
  font-family: 'Bebas Neue', cursive;
  font-size: 100px;
  background-color: #202121;
  margin: 0px;
}

.directory {
  color: #e5dcc8;
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
  padding: 20px;
}

h2 {
  color: #e5dcc8;
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
  margin-top: 50px;
}

p {
  color: #e5dcc8;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  text-align: left;
  margin: auto 20px 20px 20px;
}

.post-title {
  color: #e5dcc8;
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
  margin-top: 100px;
}

.post-img {
  width: 500px;
  max-width: 100%;
  height: auto;
}

.post-summary {
  color: #e5dcc8;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  text-align: center;
}

.continue-button {
  color: #e5dcc8;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  background-color: #202121;
  padding: 5px;
}

.fav-things {
  color: #e5dcc8;
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
  background-color: #202121;
  padding: 10px;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 100px;
}

li {
  color: #e5dcc8;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

.reference {
  color: #e5dcc8;
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  text-align: center;
}

ul {
  text-align: left;
  list-style-position: inside;
}

ol {
  text-align: left;
  list-style-position: inside;
}

/* mobile */
@media only screen and (max-width: 767px) {
  h1 {
    font-size: 50px;
  }
  .directory {
    font-size: 20px;
  }
  .post-title {
    font-size: 30px;
    margin-top: 80px;
  }
  .post-img {
    width: 500px;
  }
  .fav-things {
    font-size: 30px;
    padding: auto;
    margin: 100px 0px 0px 0px;
  }
}

/* tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  h1 {
    font-size: 90px;
  }
  .directory {
    font-size: 50px;
  }
  .post-title {
    font-size: 50px;
  }
  .post-img {
    width: 750px;
  }
  .fav-things {
    font-size: 50px;
    padding: auto;
    margin: 100px 0px 0px 0px;
  }
}