
body {
  background-color: #1e342a;
  text-align: center;
}

h1 {
  color: #e5dcc8;
  font-family: 'Bebas Neue', cursive;
  font-size: 100px;
  background-color: #202121;
  margin: 0px;
}

.directory-home {
  color: #e5dcc8;
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
  padding: 20px;
}

.directory-about {
  color: #e5dcc8;
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
  padding: 20px;
}

.directory-gallery {
  color: #e5dcc8;
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
  padding: 20px;
}

.post-A {
  color: #e5dcc8;
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
  margin-top: 100px;

}

.img-A {
  width: 500px;
  max-width: 100%;
  height: auto;
}

.text-A {
  color: #e5dcc8;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

.continue-A {
  color: #e5dcc8;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  background-color: #202121;
  padding: 5px;
}

.post-B {
  color: #e5dcc8;
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
  margin-top: 100px;
}

.img-B {
  width: 500px;
  max-width: 100%;
  height: auto;
}

.text-B {
  color: #e5dcc8;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

.continue-B {
  color: #e5dcc8;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  background-color: #202121;
  padding: 5px;
}

.post-C {
  color: #e5dcc8;
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
  margin-top: 100px;
}

.img-C {
  width: 500px;
  max-width: 100%;
  height: auto;
}

.text-C {
  color: #e5dcc8;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

.continue-C {
  color: #e5dcc8;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  background-color: #202121;
  padding: 5px;
}

.fav-things {
  color: #e5dcc8;
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
  background-color: #202121;
  padding: 10px;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 100px;
}

li {
  color: #e5dcc8;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

.reference {
  color: #e5dcc8;
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
}

@media only screen and (max-width: 769px) {
  h1 {
    font-size: 80px;
  }
  .directory-home {
    font-size: 40px;
  }
  .directory-about {
    font-size: 40px;
  }
  .directory-gallery {
    font-size: 40px;
  }
  .post-A {
    font-size: 40px;
  }
  .img-A {
    width: 1000px;
  }
  .post-B {
    font-size: 40px;
  }
  .img-B {
    width: 1000px;
  }
  .post-C {
    font-size: 40px;
  }
  .img-C {
    width: 1000px;
  }
  .fav-things {
    font-size: 40px;
    padding: auto;
    margin: 100px 0px 0px 0px;
  }
}
