body {
  background-color: #1e342a;
  text-align: center;
}

h1 {
  color: #e5dcc8;
  font-family: 'Bebas Neue', cursive;
  font-size: 100px;
  background-color: #202121;
  margin: 0px;
}

.directory-home {
  color: #e5dcc8;
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
  padding: 20px;
}

.directory-about {
  color: #e5dcc8;
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
  padding: 20px;
}

.directory-gallery {
  color: #e5dcc8;
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
  padding: 20px;
}

h2 {
  color: #e5dcc8;
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
  margin-top: 50px;
}

h3 {
  color: #e5dcc8;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  margin: auto 20px auto 20px;
}

p {
  color: #e5dcc8;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  text-align: left;
  margin: auto 20px auto 20px;
}

li {
  color: #e5dcc8;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  text-align: left;
  margin: auto 20px auto 50px;
}

#smores {
  width: 250px;
  margin: 30px auto 30px auto;
}

#key {
  width: 400px;
  margin: 30px auto 30px auto;
}

#example {
  width: 650px;
  margin: 30px auto 30px auto;
}

#code-example {
  width: 650px;
  margin: 30px auto 30px auto;
}

@media only screen and (max-width: 769px) {
  h1 {
    font-size: 80px;
  }
  .directory-home {
    font-size: 40px;
  }
  .directory-about {
    font-size: 40px;
  }
  .directory-gallery {
    font-size: 40px;
  